<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="" class="navbar-brand">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">    
      <li class="nav-item"><a href="" class="navbar-brand">Cart</a></li>
      <li class="nav-item"><a href="" class="navbar-brand">Profile</a></li>
    </ul>
    </div>
</nav>

<picture class="row justify-content-center">
  <img src = "../assets/images/bannnerImage.avif" class="imageDimension img-fluid">
</picture>


<h2 class="text-center fs-2 mt-4 mb-3">Featured Content</h2>


<div class="contanier">
  <div class="row justify-content-center">
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
        <p class="text-center"><b>Mobiles</b></p>
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
        <p class="text-center"><b>Mobiles</b></p>
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
        <p class="text-center"><b>Mobiles</b></p>
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
        <p class="text-center"><b>Mobiles</b></p>
      </div>
  </div>
</div>


<h2 class="text-center fs-2 mt-4 mb-3">NEW ARRIVAL</h2>

<div class="contanier">
  <div class="row justify-content-center">
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
      </div>
      <div class="col-1-md">
        <img src="../assets/images/phone1.jpg" class="productContanier img-fluid m-1">
      </div>
  </div>
</div>
